<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css">  
  </head>

  <body>
    <div class="welcome-page page">
      <h1>
        Welcome To 
        <div><em>File Uploader</em></div>
      </h1>

      <section>
        <p>
          To ensure the best experience with this application, please consult the
          documentation at 
          <a 
            href=""
            target="_blank"
            rel="noopenner noreferrer"
          >Github repository</a> 
          (opens in new tab).
        </p>
      </section>

      <section>
        <h2>Copyright</h2>
        <p>Copyright &copy; 2025 by BradCodeCraft. All rights reserved.</p>
      </section>

      <a href="/log-in" class="button-link">
        Proceed
      </a>
    </div> 
  </body>
</html>
