* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --oxford-blue: #14213d;
  --orange-web: #fca311;
  --platinum: #e5e5e5;
  --white: #ffffff;
}

body {
  font-family: sans-serif;
  font-size: 1.4rem;

  background-color: var(--oxford-blue);
  color: var(--white);

  cursor: default;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.8rem;
}

a {
  color: var(--white);
}

a:visited {
  color: var(--orange-web);
}

button {
  will-change: transform;
  transition: transform 0.25s ease-in-out;

  background-color: var(--white);

  border: none;
  border-radius: 20px;

  font-size: 1.4rem;
  font-weight: bold;

  padding: 5px 15px;

  width: max-content;

  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.page {
  padding: 5px 10px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page > h1 {
  margin: 0 auto;
}

.button-link,
.button-link:visited {
  width: max-content;
  margin: 0 auto;
  padding: 5px 15px;

  color: var(--black);
  text-decoration: none;
  font-weight: bold;

  background-color: var(--orange-web);

  border-radius: 20px;

  will-change: transform;
  transition: transform 0.3s ease-in-out;
}

.button-link:active {
  transform: scale(0.9);
}

.navigation-bar {
  padding: 5px 10px;
}

.navigation-bar > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;

  list-style: none;

  font-size: 1.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 500px;

  margin: auto;
  padding: 20px 40px;

  background-color: var(--black);

  color: var(--platinum);

  border-radius: 20px;
}

.form > label,
.form > input,
.form > textarea {
  font-size: 1.4rem;
}

.form > label {
  font-weight: bold;
}

.form > input,
.form > textarea {
  padding: 2px 5px;
}

.form > textarea {
  resize: none;
}

.form > .form-buttons {
  display: flex;
  gap: 20px;
}

.form > .form-buttons > button,
.form > .form-buttons > a {
  width: 40%;
  text-align: center;
}

.form > .form-buttons > .delete {
  width: calc(100% - 35px);

  background-color: var(--white);

  text-align: center;
}

.errors-list {
  padding: 5px 15px;

  list-style-type: decimal;
}

.errors-list > p {
  font-size: 2rem;
  font-weight: bold;
}

.errors-list li {
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--orange-web);
}

.files-table {
  text-align: left;
}

.files-table th {
  font-size: 1.8rem;
}

.files-table td {
  padding: 4px 8px;
}

.files-table td:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.files-table .file {
  text-decoration: none;

  display: block;

  width: 100%;
}
