<nav class="navigation-bar">
  <ul>
    <li><a href="/home">Home</a></li>
  </ul>
  <ul>
    <li><a href="/home/folders/new">New Folder</a></li>
    <li><a href="/home/files/new">New File</a></li>
    <li><a href="/log-out">Log Out</a></li>
  </ul>
</nav>
