<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/styles.css">  
  </head>

  <body>
    <%- include("../share/navigationBar.ejs") %>

    <div class="files-page page">
    </div> 
  </body>
</html>
